.btn {
  background-color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: 0;
  color: white;
}

.btn-success {
  background-color: green;
}

.btn-danger {
  background-color: red;
}

.btn-dark {
  background-color: #333;
}

.btn-border-sharp {
  border-radius: 0;
}